h1 {
    font-size: 120px;
    font-family: Monserrat;
    color: rgb(190, 57, 105);
  }
  
  p {
    font-size: 48px;
    font-family: Montserrat;
    font-family: Poppins;
  }
  
  span {
    color: #BE3969;
  }